<!-- IF PERMISSION_VIEW -->
<!-- IF PERMISSION_POPUP -->
<a href="{URL_POPUP}" onclick="window.open(this.href,'','statusbar=no,menubar=no,toolbar=no,scrollbars=yes,resizable=yes,width=800,height=500'); return false;">
<!-- ENDIF -->
<h3>{L_WVTT_TITLE}</h3>
<!-- IF PERMISSION_POPUP --></a><!-- ENDIF -->
<p>
<!-- BEGIN wvtt_list -->
<span>
<a href="{wvtt_list.URL}" "{wvtt_list.USERNAME_COLOUR}">{wvtt_list.USERNAME}</a>
</span> <!-- IF PERMISSION_COUNT -->({wvtt_list.VISITS})<!-- ENDIF -->, 
<!-- END wvtt_list -->
</p>
<!-- ENDIF -->
