<!-- IF PERMISSION_VIEW -->
<h3>
<!-- IF PERMISSION_POPUP -->
<a href="{URL_POPUP}" onclick="window.open(this.href,'','statusbar=no,menubar=no,toolbar=no,scrollbars=yes,resizable=yes,width=800,height=500'); return false;">
<!-- ENDIF -->
{L_WVTT_TITLE}
<!-- IF PERMISSION_POPUP --></a><!-- ENDIF -->
</h3>
<p>
<!-- BEGIN wvtt_list -->
<span>
<a href="{wvtt_list.URL}" "{wvtt_list.USERNAME_COLOUR}">{wvtt_list.USERNAME}</a>
</span><!-- IF PERMISSION_COUNT --> ({wvtt_list.VISITS})<!-- ENDIF --><!-- IF not wvtt_list.S_LAST_ROW -->, <!-- ENDIF -->
<!-- END wvtt_list -->
</p>
<!-- ENDIF -->
