<!-- INCLUDE simple_header.html -->
<!-- IF S_DISPLAY_VISITED_TOPICS -->
<h2>{TOPIC_TITLE}</h2>
<div class="forumbg">
	<div class="inner"><span class="corners-top"><span></span></span>
		<table class="table1" cellspacing="1">
		<thead>
		<tr>
			<th class="info">{L_USERNAME}</th>
			<!-- IF S_DISPLAY_COUNTER --><th class="active">{L_VIEWS}</th><!-- ENDIF -->
			<th class="info">{L_LAST_VISIT}</th>
		</tr>
		</thead>
		<tbody>
		<!-- BEGIN userrow -->
		<tr class="bg1">
			<td class="info">{userrow.USERNAME_FULL}</td>
			<!-- IF S_DISPLAY_COUNTER --><td class="active">{userrow.TOPIC_VISITS}</td><!-- ENDIF -->
			<td class="info">{userrow.LAST_VISIT_TIME}</td>
		</tr>
		<!-- END userrow -->
		</tbody>
		</table>
	<span class="corners-bottom"><span></span></span></div>
</div>
<div class="panel" style="text-align:center;">
	<div class="inner"><span class="corners-top"><span></span></span>
		<a class="nav" href="#" onclick="window.close(); return false;">{L_CLOSE_WINDOW}</a>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- ENDIF -->
<!-- INCLUDE simple_footer.html -->
